<h1>Welcome to the Lending Application</h1>
<p>Please select an option:</p>

<%= link_to "Admin Login", new_user_session_path(admin: true), class: "btn btn-primary" %>
<%= link_to "User Login", new_user_session_path(admin: false), class: "btn btn-secondary" %>
